@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Listagem de Usuários - Web API</h1>
</div>

<p>
    <h4> Clique no link abaixo para listar os usuários: </h4>
</p>
<ul>
    <li>@Html.ActionLink("Consumindo e listando usuários", "Listar", "Usuario")</li>
</ul>
